<div class="row" style="margin-top: 10vh">
	<div class="col-md-12">
		<div class="card mb-2">
			<div class="card-body">
				<h4 class="text-center pt-1 pb-3">Edit article</h4>
				<%= render 'form', content: @content %>
			</div>
		</div>
	</div>
</div>